.idea
.vscode
.eclipse

.swc
*/.swc
**/.swc/**

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

*.js
**/*.js
**/*.map
**/*.d.ts

.DS_Store

*.tgz
*.zip

build
coverage
documentation

*.tsbuildinfo
tsconfig.tsbuildinfo∂
**/tsconfig.tsbuildinfo
.terraform
.terraform.lock.hcl

package-lock.json

*.log

openapitools.json
layer

certificate.crt
private.pem
public.pem

front-end

data-dump

us-east-2-bundle.pem

settings.json
